<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WebTorrent</title>
    <style>
        #output video {
            width: 100%;
        }
        #progressBar {
            height: 5px;
            width: 0%;
            background-color: #35b44f;
            transition: width .4s ease-in-out;
        }
        body.is-seed .show-seed {
            display: inline;
        }
        body.is-seed .show-leech {
            display: none;
        }
        .show-seed {
            display: none;
        }
        #status code {
            font-size: 90%;
            font-weight: 700;
            margin-left: 3px;
            margin-right: 3px;
            border-bottom: 1px dashed rgba(255,255,255,0.3);
        }

        .is-seed #hero {
            background-color: #154820;
            transition: .5s .5s background-color ease-in-out;
        }
        #hero {
            background-color: #2a3749;
        }
        #status {
            color: #fff;
            font-size: 17px;
            padding: 5px;
        }
        a:link, a:visited {
            color: #30a247;
            text-decoration: none;
        }
    </style>

</head>
<body>
<input type="text" id="path" value="C:\Users\02300bd\Downloads"/>
<input type="text" placeholder="your magnet" id="magnet">
<input type="button" id="dl" value="download">
<div id="torrents">

</div>
{# Cette ligne permet de lancer electron avec tous les scripts sinon ça ne fonctionne pas #}
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
    var i = 0;
    var x = 0;
    $('#dl').on('click', function () {


        $('#torrents').append('<div id="'+x+'"><div id="hero">\n' +
            '    <div id="output">\n' +
            '        <div id="progressBar"></div>\n' +
            '        <!-- The video player will be added here -->\n' +
            '    </div>\n' +
            '    <!-- Statistics -->\n' +
            '    <div id="status">\n' +
            '        <div>\n' +
            '            <span class="show-leech">Downloading </span>\n' +
            '            <span class="show-seed">Seeding </span>\n' +
            '            <code>\n' +
            '                <!-- Informative link to the torrent file -->\n' +
            '                <a id="torrentLink" href="#">Torrent</a>\n' +
            '            </code>\n' +
            '            <span class="show-leech"> from </span>\n' +
            '            <span class="show-seed"> to </span>\n' +
            '            <code id="numPeers">0 peers</code>.\n' +
            '        </div>\n' +
            '        <div>\n' +
            '            <code id="downloaded"></code>\n' +
            '            of <code id="total"></code>\n' +
            '            — <span id="remaining"></span><br/>\n' +
            '            &#x2198;<code id="downloadSpeed">0 b/s</code>\n' +
            '            / &#x2197;<code id="uploadSpeed">0 b/s</code>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div></div>');
        x++;



        // On initialise le socket côté client
        var socket = io();

        // On récupère l'id du magnet du torrent ( on peut en trouver sur divers sites + ou - légal ) ainsi que le
        //     path et on met le tout dans un Array ( ici data )
        var data = {
                id: $('#magnet').val(),
                path: $('#path').val(),
                number: i,
            };
        i++;


        // On "émite" à socket l'array data, ça signifie que l'on envoie cet array au côté serveur ( back / app.js )
        // Cet évènement se nomme 'torrent', on le récuperera en back avec socket.on('torrent')
        socket.emit('torrent', data);

        //On écoute l'évènement 'progress' qui sera envoyé par notre serveur afin de mettre à jour le front
        socket.on('progress', function (msg) {
            $('#'+msg.torrentid+' #numPeers').innerHTML = msg.peers;
            $.each( msg, function(key, value ) {
                console.log(value, key);
                $('#'+value.id+ " #numPeers").text(value.peers);
                $('#'+value.id+ " #progressBar").width(value.percent + '%');
                $('#'+value.id+ " #downloaded").text(value.downloaded);
                $('#'+value.id+ " #total").text(value.total)
                $('#'+value.id+ " #downloadSpeed").text(value.dlspeed)
                $('#'+value.id+ " #uploadSpeed").text(value.upspeed)
                $('#'+value.id+ " #remaining").text(value.remaining)
                $('#'+value.id+ " #torrentLink").text(value.name)
            });
        })

        //On écoute l'évènement finish pour mettre à jour le front
        socket.on('finish', function (msg) {
            console.log(msg);
            $('#'+msg).addClass('is-seed');
            $('#'+msg+ " #remaining").text('done');
            $('#'+msg+ " #progressBar").width('100%');
        })
    })
</script>
{# Cette ligne permet de lancer electron avec tous les scripts sinon ça ne fonctionne pas #}
<script>if (window.module) module = window.module;</script>
</body>
</html>