<div id=\"hero\">\n" +
    "    <div id=\"output\">\n" +
        "        <div id=\"progressBar\"></div>\n" +
        "        <!-- The video player will be added here -->\n" +
        "    </div>\n" +
    "    <!-- Statistics -->\n" +
    "    <div id=\"status\">\n" +
        "        <div>\n" +
            "            <span class=\"show-leech\">Downloading </span>\n" +
            "            <span class=\"show-seed\">Seeding </span>\n" +
            "            <code>\n" +
                "                <!-- Informative link to the torrent file -->\n" +
                "                <a id=\"torrentLink\" href=\"#\">Torrent</a>\n" +
                "            </code>\n" +
            "            <span class=\"show-leech\"> from </span>\n" +
            "            <span class=\"show-seed\"> to </span>\n" +
            "            <code id=\"numPeers\">0 peers</code>.\n" +
            "        </div>\n" +
        "        <div>\n" +
            "            <code id=\"downloaded\"></code>\n" +
            "            of <code id=\"total\"></code>\n" +
            "            — <span id=\"remaining\"></span><br/>\n" +
            "            &#x2198;<code id=\"downloadSpeed\">0 b/s</code>\n" +
            "            / &#x2197;<code id=\"uploadSpeed\">0 b/s</code>\n" +
            "        </div>\n" +
        "    </div>\n" +
    "</div>\n